body {
	background: black;
	font-family: "Zeyada";
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.postcard-header h1 {
	width: max-content;
	margin: 0%;
	padding-left: 5px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	padding-right: 5px;
	padding-top: 5px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

input {
	border: 0;
	border-bottom: 1px solid gray;
	padding-top: 5px;
	font-family: "Zeyada";
	font-size: medium;
}

p {
	font-size: medium;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: darkgray;
	padding: 5px;
	font-family: "Zeyada";
	font-size: large;
}

